@charset "utf-8";

img {width:100%; height:auto;}
.for-pc {display: none !important;}
.for-mobile {display: block !important;}
.m-block {display: block;}
.hold {overflow: hidden; height:100vh;}


.wrap {
    padding:29px 0 24px;
}
.sec-tit {
    padding:0 50px;
    line-height:1.4;
    font-size: 32px;
    word-break: keep-all;
}
.sec-tit.md {
    font-size:20px;
}
.sec-tit.md b {
    font-weight: 700;
}
.sec-tit.kr {
    font-size:22px;
}
.sec-tit .dot {
    margin-left:5px;
    width: 8px;
    height:8px;
}
.tit-sub {
    font-size:24px;
}
/* header */
#header {
    top:0;
    padding:20px 16px;
    background-color: #fff;
}
.top-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.top-area .logo {
    width: 108px;
    height:15px;
    background-size: 100% 100%;
    background-image:url('/img/logo_black.svg') ;
}
.dark .top-area .logo {
}
.top-area .logo a {
    
}
.top-area .gnb {
    position: fixed;
    display:none;
    left:0;
    top:0;
    width: 100vw;
    height:100vh;  
    background-color: #fff;
    transition: all 1s cubic-bezier(0.77,0.2,0.05,1.0)
}
.top-area .gnb.on {
    display: block;
    background:#000;
}
.top-area .gnb ul {
    margin-top:78px;
}
.top-area .gnb ul li {
    margin-left:16px;
    margin-bottom:32px;
}
.top-area .gnb ul li a {
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    color:#fff;
}
.dark .top-area .gnb ul li a {
    color:#111;
}
.m-menu {
    position: fixed;
    top:21px;
    right:21px;
    width: 20px;
}
.m-menu > span {
    display: block;
    margin-bottom:4px;
    width: 100%;
    height:2px;
    border-radius: 2px;
    background:#000;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), 
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), 
                opacity 0.55s ease;
}
.m-menu > span:first-child {
    transform-origin: 0% 0%;
}

.m-menu > span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

.m-menu.on > span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -7px);
    background: #36383F;
}
.m-menu.on > span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
    
.m-menu.on > span:nth-last-child(2) {
    transform: rotate(-45deg) translate(-3px, 9px);
}
.m-menu.on > span {
    background-color: #fff;
}

/* main */
.main-visual .title-box {
    position: absolute;
    top:50%;
    font-size:24px;
    line-height:1.4;
    transform: translateY(-50%);
}
.main-visual .title-box .main-tit {
    font-size:44px;
}
.main-visual .title-box .main-tit-sub {
    font-size:18px;
}
.main-visual .title-box .main-sub {
    margin:14px auto 0;
    font-size:16px;
    max-width: 80%;
}
.main-visual .scroll-box {
    bottom:4%;
    font-size:18px;
}
.main-visual .scroll-box .sc-icon {
    margin:0 auto 8px;
    width: 32px;
    height:32px;
}
/* about */
.sub-sec01 .wrap,.sub-sec02 .wrap,.sub-sec03 .wrap,.sub-sec04 .wrap {
    padding:10vmin 0;
    min-height: 500px;
}
.sub-sec01 .tit-sub {
    display:none;
}
.about-box {
    margin-top:24px;
    gap:16px;
    padding:0 16px;
}
.about-box .about-list {
    padding:15px 15px;
    width: 47%;
    border-radius:0.625rem 0 0 0;
}
.about-box .about-list .thumb {
    width:44px;
    height:44px;
    background-size: 100%;
}
.about-box .about-list p {
    position: absolute;
    left:66px;
    top:23px;
    width: 50%;
    font-size: 12px;
    line-height:1.2;
    text-align: left;
}
.about-box .about-list p small {
    display:none;
}
.about-box .about-list .over {

}
.about-box .about-list .over .over-tit {
    display:none;
}
.about-box .about-list .over p {
    position: static;
    margin-top:10px;
    text-align: center;
    width: 100%;
}
.sub-sec02 {
    border-bottom:1px solid #ECECEC;
}
.biz-box {
    margin-top:44px;
    padding:0 16px;
    gap:16px;
}
.biz-box .card {
    padding:16px;
    width: 47%;
    border-radius: 2.5rem;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
}
.biz-box .card .back .biz-tit {
    display:none;
}
.biz-box .biz-tit {
    display: inline-block;
    margin-bottom: 24px;
    width: 75%;
    font-size:15px;
}

.biz-box .icon {
    display: inline-block;
    vertical-align: top;
}
.biz-box .icon img {
    width: 28px;
    height:28px;
}
.biz-box .biz-txt li {
    display: inline;
    font-size:11px;
    word-break: keep-all;
}
.sub-sec03 {
    position: relative;
    overflow: hidden;
}
.sub-sec03 .marquee {
    top:17%;
    left:50%;
    width: 80%;
    text-align: center;
    transform: translateX(-50%);
}
.sub-sec03 .reno-txt {
    font-size: 62px;
    line-height: 1.3;
    word-break: keep-all;
}
.sub-sec03 .reno-txt .m-dp {
    display:none;
}
.solution-box {
    margin:30vw 16px 0;
}
.solution-box .solution-list {
    margin:0 -5px 0; 
    padding:16px;
    width: 100%;
    height: 33.174vmin;
    box-sizing: border-box;
}
.solution-box .solution-list.reno {
    background:#F98D21 url('/img/name.svg') no-repeat center;
    background-size:80% auto;
}
.solution-box .solution-list > p {
    font-size:14px;
    word-break: keep-all;
}
.solution-box .solution-list > p > span {
    font-size:11px;
}
.client-box {
    margin-top:50px;
    padding:0 16px;
}
.client-box ul {
}
.client-box li {
    margin:2px;
    width: calc(33% - 5px);
    border-radius: 1.875rem 0 0 0;
}
.client-box li img {
    width: 100%;
}
/* work */
.work-wrap {
    margin-left:16px;
}
.work-contain {
    margin-top:-55px;
    padding-left:5px;
    padding-bottom:100px;
}
.work-contain .work-list {
    margin-right: 20px;
    max-width: 246px;
}
.work-contain .work-list p {
    margin-top:18px;
    font-size:16px;
    line-height:1.4;
}
.work-contain .work-list .thumb {
    min-width:246px;
    height:302px;
    border-radius: 25px 0 0 0;
}
.work-contain .work-list img {
    width:100%;
}
.work-contain .slick-list {
    padding-top:55px;
}
/* contact */
.contact {
    padding:16px;
    background:url('/img/bg_contact.png') no-repeat;
    background-size: cover;
}
/* location */
.location .map {
}
.location .wrap.map {
    padding-top:60px;
}
.company-info {
    padding:0 16px;
}
.company-info li {
    margin-bottom:16px;
    line-height:1.3;
}
.company-info li em {
    min-width:40%;
    font-size:18px;
}
.company-info li p {
    font-size:14px;
}
.company-info li p small {
    margin-top:16px;
    font-size:14px;
}

/* footer */
#footer {
    margin-left:20px;
    padding:32px 0;
    border-radius: 20px 0 0 0;
    background:#2D2D2D;
}
#footer .foot-menu ul {
    display: none;
}
#footer .copy {
    text-align: center;
    font-size:12px;
}
#footer .btn-top {
    display:none;
}

/* form */
.form-box {
    margin-top:60px;
}
.form-box .form-row {
}
.form-box .form-col {
    margin:20px 0;
}
.form-box .form-col label {
    min-width: 70px;
    font-size:18px;
}
.form-box .ip-text {
    width: calc(100% - 75px);
}
.form-box textarea {
    margin-top: 32px;
    padding:30px;
    width: 100%;
    border-radius: 30px 0 0 0;
    font-size:18px;
}
.btn-wrap {
    margin-top:33px;
}
.btn-wrap .btn {
    min-width: 140px;
    border-radius: 4.375rem;
    font-size:18px;
    height:46px;
}

/* slick */
.about .slide-dots { 
    bottom:22px;
}
.about .slide-dots li { 
    margin:7px 0 0 11px; 
}
.about .slide-dots li:first-child { 
    margin:7px 0 0 0; 
}
.about .slide-dots li button { 
    width:6px; 
    height:6px; 
    border-radius:6px; 
}
.about .slide-dots li.slick-active button { 
    width:34px; 
    border-radius:27px; 
}

.slick-counter .progressbar {
    display: none;
}


/* 상세 페이지 */
.sub {
    overflow-x: visible;
}
.btn-back {
    position: fixed;
    top:16px;
    right: 16px;
}
.btn-back button {
    width:20px;
    height:20px;
}
.btn-back.wht button {
    background-image: url('/img/btn_close_wht.svg');
}
.btn-back span {
    font-size:0;
    text-indent:-999em;
}
.detail-visual {
    padding-top:40px;
    height:206px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}
.detail-visual.hyundai {
    background-image: url('/img/work/m_top_hyundai.png');
}
.detail-visual.eschool {
    background-image: url('/img/work/m_top_eschool.png');
}
.detail-visual.s4u {
    background-image: url('/img/work/m_top_s4u.png');
}
.detail-visual.online {
    background-image: url('/img/work/m_top_online.png');
}
.detail-visual.ondot {
    background-image: url('/img/work/m_top_ondot.png');
}
.detail-visual.hub {
    background-image: url('/img/work/m_top_hub.png');
}
.detail-visual.dream {
    background-image: url('/img/work/m_top_dream.png');
}
.detail-visual.hcc {
    background-image: url('/img/work/m_top_hcc.png');
}
.detail-visual.pay {
    background-image: url('/img/work/m_top_pay.png');
}
.detail-visual.lottecard {
    background-image: url('/img/work/m_top_lottecard.png');
}
.detail-visual.ican {
    background-image: url('/img/work/m_top_ican.png');
}
.detail-visual .project-name {
    padding:0 16px;
    font-size: 22px;
    line-height:32px;
}
.detail-visual .project-name.wht {
    color:#fff;
}
.detail-visual .project-name .brand-txt {
    font-size: 14px;
    line-height:40px;
}
.detail-visual .project-name.wht .brand-txt {
    color:#fff;
}
.detail-visual .wrap {
    max-width: 1204px;
}
.detail-cont .wrap {
    padding:0;
    max-width: 1204px;
}
.detail-cont .w100 {
    width: 100%;
}
.detail-info {
    padding:26px 16px 40px
}
.detail-info dl {
    display: flex;
    align-items: center;
}
.detail-info dt {
    display: block;
    line-height: 40px;
    min-width: 18%;
    font-size:14px;
}
.detail-info dd {
    font-size:16px; 
}
.detail-about {
    margin-top:38px;
}
.detail-about h3 {
    font-size: 22px;
    line-height: 32px;
}
.detail-about .explain {
    margin-top:34px;
    font-size:14px;
    line-height: 21px;
}
.detail-about .btn-wrap {
    margin-top:30px;
    text-align: left;
}
.detail-about .btn-wrap .btn {
    line-height: 44px;
}
.detail-about .top-view {
    margin-top:8px;
    border-radius: 20px;
    overflow:hidden;
    box-shadow: 7px 17px 35px 5px rgba(0, 0, 0, 0.15);
}

.detail-view {
    padding:37px 0 37px;
}
.detail-view.no-p {
    padding:0;
    text-align: center;
}
.detail-view.lg {
    padding:201px 0 216px;
}
.detail-view.gray {
    background:#EFEFF0;
}
.detail-view.h-theme {
    background:#ECE2DF;
}
.detail-view.s-theme {
    background:#4C629A;
}
.detail-view.s4u-theme {
    background:#3D6BAF;
}
.detail-view.on-theme {
    background:#8BB2B1;
}
.detail-view.dot-theme {
    background:#D6B798;
}
.detail-view.hub-theme {
    background:#EEDBC9;
}
.detail-view.dream-theme {
    background:#8ACADE;
}
.detail-view.hcc-theme {
    background:#5776BB;
}
.detail-view.lcard-theme {
    background:#CEE8DE;
}
.detail-view.ican-theme {
    background:#EEC9C9;
}
.detail-view .shadow {
    margin-left:0
}
.detail-view .text-view {}
.detail-view .text-view dl {
    margin-top:50px;
    color:#111;
}
.detail-view .text-view dl:first-child {
    margin-top:0;
}
.detail-view .text-view dt,
.detail-view .text-view dd {
    display:inline-block;
    vertical-align: top;
}
.detail-view .text-view dt {
    min-width:260px;
    font-size: 30px;
    line-height:40px;
}
.detail-view .text-view dd {
    font-size:18px;
    line-height: 32px;
}