@charset "utf-8";

@import url("reset.css");
@import url("layout.css");
@import url("common.css");
@import url("style_pc.css") screen and (min-width:992px);
@import url("style_mobile.css") screen and (max-width:991px);

.hidden-txt {
    text-indent:-9999em;
    font-size: 0;
    width: 0;
    height: 0;
}
.wrap {
    position: relative;
    margin:0 auto;
    z-index: 1;
}
.sec-tit {
    font-weight: 700;
    text-align: center;
}
.sec-tit.md {
    font-weight: 400;
}
.sec-tit.md b {
    vertical-align: baseline;
    font-weight: 700;
}
.sec-tit.wht {
    color:#fff;
}
.sec-tit .dot {
    display: inline-block;
    border-radius: 50%;
    vertical-align: baseline;
    background:#F98D21;
}
.sec-tit.wht .dot {
    background: #fff;
}
.tit-sub {
    text-align:center;
    color:#666;
}
/* header */
#header {
    position: fixed;
    width: 100%;
    z-index: 5;
    box-sizing: border-box;
}
.top-area {
}
.top-area .logo a {
    display: block;
}
/* main */
.main-visual {
    position: relative;
    height: 100vh;
    transition: 0.3s;
}
.main-visual .title-box {
    width: 100%;
    color:#fff;
    text-align: center;
}
.start .main-visual .title-box {
    opacity: 1;
}
.main-visual .title-box .main-tit {
    font-family: 'Roboto', sans-serif;
    line-height:1;
    text-align: center;
    font-weight: 700;
    color:transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}
.main-visual .title-box .main-tit .block {
    display:block;
}
.main-visual .title-box .main-tit .wht {
    color:#fff;
    vertical-align: baseline;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: transparent;
}
.main-visual .title-box .main-tit-sub {
    font-weight: 700;
}
.main-visual .title-box .main-sub {
    font-weight: 400;
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.main-visual .scroll-box {
    position: absolute;
    width: 100%;
    text-align: center;
    color:#fff;
}
.main-visual .scroll-box .sc-icon {
    display: block;
    background:url('/img/icon_mouse.svg') no-repeat;
}
/* about */
.about > div {
    position: relative;
    overflow:hidden;
}
.about .wrap {
}
.sub-sec01 {
    background-color: #EFEFF0 
}
.about-box {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.about-box .about-list {
    position:relative;
    display:flex;
    text-align: left;
    overflow:hidden;
    box-sizing: border-box;
}
.about-box .about-list .thumb {
    background-repeat:no-repeat;
}
.about-box .about-list p {
    font-weight: 600;
}
.about-box .about-list p.txt {
    font-weight: 400;
    color:#666;
}
.about-box .about-list .ui {
    background-image:url(/img/uiux.svg);
}
.about-box .about-list .sv {
    background-image:url(/img/service.svg);
}
.about-box .about-list .tech {
    background-image:url(/img/tech.svg);
}
.about-box .about-list .mobile {
    background-image:url(/img/mobile.svg);
}
.about-box .about-list .fe {
    background-image:url(/img/develop.svg);
}
.about-box .about-list .base {
    background-image:url(/img/solution.svg);
}
.about-box .about-list .explain {

}
.about .marquee {
}
.about .marquee .reno-txt {

}
.sub-sec02 {
    border-bottom:1px solid #ECECEC;
}
.biz-box {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.biz-box .card {
    position: relative;
    color:#fff;
    background-color:#3DCFA8 ;
    box-sizing:border-box;
}
.biz-box .card:nth-child(2) {
    background-color:#F98D21
    ;
}
.biz-box .card:nth-child(3) {
    background-color:#1E82FF ;
}
.biz-box .card:nth-child(4) {
    background-color:#FF5C39 ;
}
.biz-box .biz-tit {
    font-weight: 800;
}
.biz-box .icon img {

}
.biz-box .biz-txt li {
    font-weight: 300;
    letter-spacing: -0.1rem;
}
.sub-sec03 {
    position: relative;
    overflow: hidden;
    background:#ECECEC;
}
.sub-sec03 .marquee {
    position: absolute;
}
.sub-sec03 .reno-txt {
    font-weight: 800;
    color:#E7E7E7;
}
.solution-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.solution-box .solution-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto; 
    align-self: auto;
    border-radius: 50%;
    border:1px solid #dfdfdf;
    background:rgba(255,255,255,0.5);
}
.solution-box .solution-list.reno {
    border:1px solid #F98D21;
    z-index:-1;
}
.solution-box .solution-list > p {
    line-height: 1.5;
    text-align: center;
    font-weight: 400;
    color:#666;
}
.solution-box .solution-list > p > span {
    display:block;
    font-weight: 700;
    color:#111;
}

.sub-sec04 {
    background-color: #F98D21;
}
.client-box {
}
.client-box ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.client-box li {
    overflow:hidden;
    border:1px solid #ECECEC;
}
.client-box li img {
    width: 100%;
}

.sub-sec05 {
    background-color: #ECECEC;
}
.work-list {
    width: 100%;
}
.work-list li {
    background-color: #fff;
    box-sizing: border-box;
}
.work-list li small {
    font-weight: 400;
    color:#F98D21;
}
.work-list li .work-tit {
    font-weight: 700;
    letter-spacing: -0.1rem;
    color:#000;
}
.work-list li .date {
    font-weight: 400;
    color:#666;
}
/* Tabs */
.tabs { display: flex; flex-wrap: wrap; width: 100%; justify-content: center; }
.tabs .tabs-item { }
.tabs .tabs-link { display: block; text-align: center; background: #D9D9D9; color: #000; text-decoration: none; border: 1px solid transparent; box-sizing: border-box;}
.tabs .active .tabs-link { font-weight: 600; background: #F98D21; border-color: transparent; color: #fff; }
.tabs .tabs-item:first-child .tabs-link {}
.tabs .tabs-item:first-child.active .tabs-link {}
.tabs-content .tabs-content-item { display: none;}
.tabs-content .tabs-content-item.active { display: block; }

/* work */
.work-wrap {

}
.work-contain {

}
.work-contain .work-list {

}
.work-contain .work-list p {
    font-weight: 400;
}
.work-contain .work-list .thumb {
    overflow: hidden;
}
.work-contain .work-list img {
    width:100%;
}
.work-contain .slick-list {
    overflow: hidden;
}
/* location */
.location .map {
    width: 100%;
}
.company-info {}
.company-info li {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    font-weight: 400;
}
.company-info li em {
    display:block;
    font-weight: 700;
    color:#F98D21;
}
.company-info li p {

}
.company-info li p small {
    display: block;
    font-weight:300;
    color:#666;
}
/* footer */
#footer {
    position: relative;
    background:#2D2D2D;
}
#footer .copy {
    font-weight: 300;
    color:#fff;
}
/* form */
.form-box {
    width:100%;
}
.form-box .form-col {
    width:100%;
    border-bottom:1px solid #111;
}
.form-box .form-col label {
    display:inline-block;
    font-weight: 500;
}
.form-box .ip-text {
    border:0 none;
    background:transparent !important;
    box-sizing: border-box;
}
.form-box textarea {
    resize: none;
    box-sizing: border-box;
}
.btn-wrap {
    text-align: center;
}
.btn-wrap .btn {
    color:#fff;
    background:#2D2D2D;
}


/* slick */
.about .slide-dots { 
    position: absolute;
    width: 100%;
    overflow:hidden; 
    text-align: center;
}
.about .slide-dots li { 
    display:inline-block; 
    line-height:0; 
}
.about .slide-dots li:first-child { 
    margin:7px 0 0 0; 
}
.about .slide-dots li button { 
    text-indent:-9999px; 
    border:none; 
    padding:0; 
    background:#D9D9D9; 
    transition:0.5s ease; 
    cursor:pointer; 
    line-height:1; 
}
.about .slide-dots.wht li button { 
    background-color: #fff;;
}
.about .slide-dots li.slick-active button { 
    background:#F98D21; 
    border-radius:30px; 
}
.about .slide-dots.wht .slick-active button {
    background-color: #E87400
}

/* 상세 페이지 */
.sub {
    overflow-x: visible;
}
.btn-back {
    position: fixed;
}
.btn-back button {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url('/img/btn_close.svg');
    background-size: 100% 100%;
}
.btn-back.wht button {
    background-image: url('/img/btn_close_wht.svg');
}
.btn-back span {
    font-size:0;
    text-indent:-999em;
}
.detail-visual {
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}
.detail-visual.hyundai {
    background-color: #F7F3F2;
}
.detail-visual.eschool {
    background-color: #CEE1F9;
}
.detail-visual.s4u {
    background-color: #D6E8FE;
}
.detail-visual.online {
    background-color: #D1E9E8;
}
.detail-visual.ondot {
    background-color: #32383D;
}
.detail-visual.hub {
    background-color: #F9F5F2;
}
.detail-visual.dream {
    background-color: #C9EFF6;
}
.detail-visual.hcc {
    background-color: #D6DFE4;
}
.detail-visual.pay {
    background-color: #E8E7E2;
}
.detail-visual.lottecard {
    background-color: #A6E6CE;
}
.detail-visual.ican {
    background-color: #E9E8E3;
}
.detail-visual .project-name {
    font-weight: 700;
    color:#111;
}
.detail-visual .project-name.wht {
    color:#fff;
}
.detail-visual .project-name .brand-txt {
    display: block;
    font-weight: 400;
    color:#666;
}
.detail-visual .project-name.wht .brand-txt {
    color:#fff;
}
.detail-visual .wrap {

}
.detail-cont .wrap {
    padding:0;
}
.detail-cont .w100 {
    width: 100%;
}
.detail-info {
}
.detail-info dl {
}
.detail-info dt {
    color:rgba(0,0,0,0.6);
}
.detail-info dd {
    color:#111;
    font-weight: 700;
}
.detail-about {

}
.detail-about h3 {
    font-weight: 700;
    color:#111;
}
.detail-about .explain {
    word-break: keep-all;
    color:#666;
}
.detail-about .btn-wrap {
    text-align: left;
}
.detail-about .btn-wrap .btn {
}
.detail-about .top-view {
    overflow:hidden;
}

.detail-view {
}
.detail-view.no-p {
    padding:0;
    text-align: center;
}
.detail-view.lg {
}
.detail-view.gray {
    background:#EFEFF0;
}
.detail-view.h-theme {
    background:#ECE2DF;
}
.detail-view.s-theme {
    background:#4C629A;
}
.detail-view.s4u-theme {
    background:#3D6BAF;
}
.detail-view.on-theme {
    background:#8BB2B1;
}
.detail-view.dot-theme {
    background:#D6B798;
}
.detail-view.hub-theme {
    background:#EEDBC9;
}
.detail-view.dream-theme {
    background:#8ACADE;
}
.detail-view.hcc-theme {
    background:#5776BB;
}
.detail-view.lcard-theme {
    background:#CEE8DE;
}
.detail-view.ican-theme {
    background:#EEC9C9;
}
.detail-view .shadow {
}
.detail-view .text-view {}
.detail-view .text-view dl {
    color:#111;
}
.detail-view .text-view dl:first-child {
    margin-top:0;
}
.detail-view .text-view dt,
.detail-view .text-view dd {
    display:inline-block;
    vertical-align: top;
}
.detail-view .text-view dt {
    font-weight: 700;
}
.detail-view .text-view dd {
    color:#666;
}

/* animation css */
.main-visual .main-tit-sub,
.main-visual .main-sub,
.sec-tit {
    opacity: 0;
}


.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.slow-animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-30%, 0, 0);
        transform: translate3d(-30%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.active .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@keyframes shotFadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-30%, 0, 0);
        transform: translate3d(-30%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.active .shotFadeInLeft {
    -webkit-animation-name: shotFadeInLeft;
    animation-name: shotFadeInLeft;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.active .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.active .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes shotFadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes shotFadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.active .shotFadeInUp {
    -webkit-animation-name: shotFadeInUp;
    animation-name: shotFadeInUp;
}


@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.active .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
@-webkit-keyframes ShotfadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(30%, 0, 0);
        transform: translate3d(30%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes ShotfadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(30%, 0, 0);
        transform: translate3d(30%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.active .ShotfadeInRight {
    -webkit-animation-name: ShotfadeInRight;
    animation-name: ShotfadeInRight;
}
@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.active .slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.active .slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}