<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/work.html}">

    <!-- container -->
    <section layout:fragment="container">
        <div class="detail-visual hcc">
            <div class="wrap">
                <h2 class="project-name">
                    <span class="brand-txt">라쿠카라차</span>
                    B2B, B2C 쇼핑몰 구축
                </h2>
            </div>
        </div>
        <div class="detail-cont">
            <div class="detail-top">
                <div class="wrap">
                    <div class="detail-info">
                        <dl>
                            <dt>CLIENT</dt>
                            <dd>라쿠카라차</dd>
                        </dl>
                        <dl>
                            <dt>DATE</dt>
                            <dd>2020.11~2021.12</dd>
                        </dl>
                        <dl>
                            <dt>TYPE</dt>
                            <dd>SI</dd>
                        </dl>
                        <div class="detail-about">
                            <h3>B2B, B2C 쇼핑몰 구축</h3>
                            <p class="explain">
                                급변하는 이커머스 환경과 다양한 사용자 니즈에 맞춰 국내외 사용자를 상대로 B2B, B2C, B2E 등
                                다양한 형태의 서비스를 제공하고 새로운 시장을 개척하기 위한 쇼핑몰 구축 사업입니다.
                            </p>
                            <div class="btn-wrap">
                                <a href="https://hcclab.com/" target="_blank" title="새창열림" class="btn">사이트 바로가기</a>
                            </div>
                            <div class="top-view">
                                <img src="/img/work/detail-hcc.png" class="w100" alt="라쿠카라차 작업 미리보기">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-view gray">
                <div class="wrap">
                    <img src="/img/work/detail-hcc01.png" class="shadow" alt="라쿠카라차 작업물">
                </div>
            </div>
            <div class="detail-view lg">
                <div class="wrap">
                    <img src="/img/work/detail-hcc02.png" alt="라쿠카라차 작업 아이콘">
                </div>
            </div>
            <div class="detail-view hcc-theme">
                <div class="wrap">
                    <img src="/img/work/detail-hcc03.png" class="shadow" alt="라쿠카라차 모바일 디자인">
                </div>
            </div>
        </div>
    </section>

</html>