<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/work.html}">

    <!-- container -->
    <section layout:fragment="container">
        <div class="detail-visual hub">
            <div class="wrap">
                <h2 class="project-name">
                    <span class="brand-txt">탈북청소년 교육지원센터</span>
                    2021년 온라인공동교육과정<br>시스템 유지관리 및 기능개선
                </h2>
            </div>
        </div>
        <div class="detail-cont">
            <div class="detail-top">
                <div class="wrap">
                    <div class="detail-info">
                        <dl>
                            <dt>CLIENT</dt>
                            <dd>탈북청소년 교육지원센터</dd>
                        </dl>
                        <dl>
                            <dt>DATE</dt>
                            <dd>2021.06.28 ~ 2021.11.26</dd>
                        </dl>
                        <dl>
                            <dt>TYPE</dt>
                            <dd>SI</dd>
                        </dl>
                        <div class="detail-about">
                            <h3>탈북청소년교육지원센터 홈페이지 개편</h3>
                            <p class="explain">
                                탈북청소년 교육 및 사회적응력을 높이기 위한 탈북청소년교육지원센터 홈페이지 활성화와
                                운영의 효율성 제고를 목적으로 하는 홈페이지 개편 프로젝트입니다.
                            </p>
                            <div class="btn-wrap">
                                <a href="https://www.hub4u.or.kr/" target="_blank" title="새창열림" class="btn">사이트 바로가기</a>
                            </div>
                            <div class="top-view">
                                <img src="/img/work/detail-hub.png" alt="탈북청소년 작업 미리보기">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-view gray">
                <div class="wrap">
                    <img src="/img/work/detail-hub01.png" class="shadow" alt="탈북청소년 작업물">
                </div>
            </div>
            <div class="detail-view hub-theme">
                <div class="wrap">
                    <img src="/img/work/detail-hub02.png" class="shadow" alt="탈북청소년 모바일 디자인">
                </div>
            </div>
        </div>
    </section>

</html>