<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/work.html}">

    <!-- container -->
    <section layout:fragment="container">
        <div class="detail-visual hyundai">
            <div class="wrap">
                <h2 class="project-name">
                    <span class="brand-txt">현대자동차</span>
                    HMG Privacy센터<br>고도화 프로젝트
                </h2>
            </div>
        </div>
        <div class="detail-cont">
            <div class="detail-top">
                <div class="wrap">
                    <div class="detail-info">
                        <dl>
                            <dt>CLIENT</dt>
                            <dd>현대자동차</dd>
                        </dl>
                        <dl>
                            <dt>DATE</dt>
                            <dd>2022.03~ 현재</dd>
                        </dl>
                        <dl>
                            <dt>TYPE</dt>
                            <dd>SI</dd>
                        </dl>
                        <div class="detail-about">
                            <h3>HMG Privacy센터 고도화 프로젝트</h3>
                            <p class="explain">
                                현대/기아/제네시스 고객의 개인정보 의무 추세로, 온라인 서비스 및 차량 이용시 수집/활용되는 개인정보 데이터에 대한 고객선택권을
                                강화하고자 진행된 사업 입니다. 본 사업의 실 서비스 구축은 현대자동차, 기아자동차, 제네시스 3개 현대자동차 브랜드 아이덴티티를
                                고려 및 이용경험의 익숙함을 고려한 결과물 입니다. 향후 데이터 수집과 활용 등 다양한 목표를 지향으로한 첫 사업입니다.
                            </p>
                            <div class="btn-wrap">
                                <a href="https://privacy.hyundai.com/" target="_blank" title="새창열림" class="btn">사이트 바로가기</a>
                            </div>
                            <div class="top-view">
                                <img src="/img/work/detail-hyundai.png" alt="현대 작업 미리보기">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-view gray">
                <div class="wrap">
                    <img src="/img/work/detail-hyundai01.png" class="shadow" alt="제네시스 기아 작업물">
                </div>
            </div>
            <div class="detail-view lg">
                <div class="wrap">
                    <img src="/img/work/detail-hyundai02.png" alt="현대 작업 아이콘">
                </div>
            </div>
            <div class="detail-view h-theme">
                <div class="wrap">
                    <img src="/img/work/detail-hyundai03.png" class="shadow" alt="현대 모바일 디자인">
                </div>
            </div>
        </div>
    </section>

</html>