<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/work.html}">

    <!-- container -->
    <section layout:fragment="container">
        <div class="detail-visual ican">
            <div class="wrap">
                <h2 class="project-name">
                    <span class="brand-txt">교원</span>
                    아이캔두 마이쌤<br>화상관리 개발
                </h2>
            </div>
        </div>
        <div class="detail-cont">
            <div class="detail-top">
                <div class="wrap">
                    <div class="detail-info">
                        <dl>
                            <dt>CLIENT</dt>
                            <dd>교원</dd>
                        </dl>
                        <dl>
                            <dt>DATE</dt>
                            <dd>2020.11~2021.12</dd>
                        </dl>
                        <dl>
                            <dt>TYPE</dt>
                            <dd>SI</dd>
                        </dl>
                        <div class="detail-about">
                            <h3>아이캔두 마이쌤 화상관리 개발</h3>
                            <p class="explain">
                                2021년 11월 런칭한 교원그룹 AI학습 솔루션(플랫폼)으로 당사는 본 서비스의 운영 / 개발 부문을 담당하며, 인공지능 AI기반의 교육 플랫폼 기반으로 제공하는 다양한 과목별
                                학습 컨텐츠를 학습자 개개인의 심화 정도에 맞춰 제공 될 수 있도록 하는데 목표를 둔 사업 입니다. 당사는 AI 맞춤연산 기능의 고도화 및 신규 컨텐츠 연동 개발을 중요업무로
                                본 사업의 개발 및 운영을 수행하고 있습니다.
                            </p>
                            <div class="btn-wrap">
                                <a href="https://www.kyowonedu.com/KEP/PRD/KEPPrdInfo.jsp?prdtCd=LRNRPN004&cate=LRNACD" target="_blank" title="새창열림" class="btn">사이트 바로가기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-view gray">
                <div class="wrap">
                    <div class="text-view">
                        <dl>
                            <dt>구축사례</dt>
                            <dd>2021년 12월 ~, AI·메타버스 기반의 LMS 구축</dd>
                        </dl>
                        <dl>
                            <dt>도입배경</dt>
                            <dd>메타버스 환경에서 실제와 유사한 학습 경험을 위해 가상 교육 플랫폼 구현 필요</dd>
                        </dl>
                        <dl>
                            <dt>구축내용</dt>
                            <dd>
                                <ul>
                                    <li>-  메인 UI 변경</li>
                                    <li>- 신규 E-BOOK 콘텐츠 연동</li>
                                    <li>- AI 맞춤 연산 메뉴 신규 개발</li>
                                    <li>- LMS,문제은행, 교사 시스템 연동 및 수정</li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>도입효과</dt>
                            <dd>인공지능 기반 학습으로 학습능률 향상</dd>
                        </dl>
                        <dl>
                            <dt>개발 Type</dt>
                            <dd>Web/SM</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </section>

</html>