<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/work.html}">

    <!-- container -->
    <section layout:fragment="container">
        <div class="detail-visual lottecard">
            <div class="wrap">
                <h2 class="project-name">
                    <span class="brand-txt">롯데카드</span>
                    롯데카드 트랜드탭<br>개발
                </h2>
            </div>
        </div>
        <div class="detail-cont">
            <div class="detail-top">
                <div class="wrap">
                    <div class="detail-info">
                        <dl>
                            <dt>CLIENT</dt>
                            <dd>롯데카드</dd>
                        </dl>
                        <dl>
                            <dt>DATE</dt>
                            <dd>2022.03~2022.08</dd>
                        </dl>
                        <dl>
                            <dt>TYPE</dt>
                            <dd>SI</dd>
                        </dl>
                        <div class="detail-about">
                            <h3>롯데카드 트랜드탭 개발</h3>
                            <p class="explain">
                                롯데카드 모바일 앱에 구성되는 기능을 추가 구현하는 프로젝트 입니다. 모바일 및 웹기능을 동시에 개발/구현하는 프로젝트 입니다.
                            </p>
                            <div class="btn-wrap">
                                <a href="https://www.lottecard.co.kr/app/LPMAIAA_V100.lc" target="_blank" title="새창열림" class="btn">사이트 바로가기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-view gray">
                <div class="wrap">
                    <div class="text-view">
                        <dl>
                            <dt>구축사례</dt>
                            <dd>2022년 3월 ~ 8월, 모바일 앱 및 웹 기능 추가 구축</dd>
                        </dl>
                        <dl>
                            <dt>도입배경</dt>
                            <dd>소비자 카드 결제 데이터 분석 기반의 소바자 성향과 취향등에 최적화된 콘텐츠 추천 필요</dd>
                        </dl>
                        <dl>
                            <dt>구축내용</dt>
                            <dd>
                                <ul>
                                    <li>- 배치 인터페이스 개발</li>
                                    <li>- SDK 연계</li>
                                    <li>- CMS 커스터마이징</li>
                                    <li>- 노출 정책에 따른 추천 로직 개발</li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>도입효과</dt>
                            <dd>고객에게 유용하고 재미있는 콘텐츠를 통해 맞춤형 혜택을 제안하는 금융앱의 새로운 패러다임 제공</dd>
                        </dl>
                        <dl>
                            <dt>개발 Type</dt>
                            <dd>Mobile/Web</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="detail-view no-p lcard-theme">
                <div class="wrap">
                    <img src="/img/work/detail-lotte.png" class="shadow" alt="롯데카드  모바일 구성">
                </div>
            </div>
        </div>
    </section>

</html>