<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/work.html}">

    <!-- container -->
    <section layout:fragment="container">
        <div class="detail-visual ondot">
            <div class="wrap">
                <h2 class="project-name wht">
                    <span class="brand-txt">교실온닷</span>
                    2022년 디지털 교육시스템<br>유지관리 및 기능개선 사업
                </h2>
            </div>
        </div>
        <div class="detail-cont">
            <div class="detail-top">
                <div class="wrap">
                    <div class="detail-info">
                        <dl>
                            <dt>CLIENT</dt>
                            <dd>한국교육개발원</dd>
                        </dl>
                        <dl>
                            <dt>DATE</dt>
                            <dd>2020.07~2022.05.31</dd>
                        </dl>
                        <dl>
                            <dt>TYPE</dt>
                            <dd>SI</dd>
                        </dl>
                        <div class="detail-about">
                            <h3>2021년 온라인공동교육과정 시스템 유지관리 및 기능개선</h3>
                            <p class="explain">
                                한국교육개발원 주관의 전국 17개 시.도교육청 운영사업으로 희망 학생이 적거나 교사 수급곤란 등으로 단위 학교에서 개설이 어려운 소인수 심화과목등을
                                학교 간 연계.협력을 통해 운영하는 교육과정 입니다. 본 사업에 대한 전체 서비스 운영과 기능 개선 및 고도화 관점에 목적을 둔 사업입니다.
                            </p>
                            <div class="btn-wrap">
                                <a href="https://edu.classon.kr/" target="_blank" title="새창열림" class="btn">사이트 바로가기</a>
                            </div>
                            <div class="top-view">
                                <img src="/img/work/detail-ondot.png" alt="교실온닷 작업 미리보기">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-view gray">
                <div class="wrap">
                    <img src="/img/work/detail-ondot01.png" class="shadow" alt="교실온닷 작업물">
                </div>
            </div>
            <div class="detail-view dot-theme">
                <div class="wrap">
                    <img src="/img/work/detail-ondot02.png" class="shadow" alt="교실온닷 모바일 디자인">
                </div>
            </div>
        </div>
    </section>

    <!-- script -->
    <script layout:fragment="script" th:inline="javascript" type="text/javascript">
        $(function () {
            var chg_color = $(".detail-visual").position().top;
            var btn_value = $(".btn-back").position().top + 20;
            var chg_value = $(".detail-visual").outerHeight() - btn_value;

            console.log( chg_value);
            $(window).scroll(function(){
                if ($(window).scrollTop() >= (chg_color + chg_value)) {
                    $('.btn-back').removeClass('wht');
                }
                else {
                    $('.btn-back').addClass('wht');
                }
            });
        });
    </script>
    <!-- //script -->

</html>