<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/work.html}">

    <!-- container -->
    <section layout:fragment="container">
        <div class="detail-visual online">
            <div class="wrap">
                <h2 class="project-name">
                    <span class="brand-txt">온라인 보충과정(중,고)_한국교육개발원</span>
                    2022년 디지털 교육시스템<br>유지관리 및 기능개선 사업
                </h2>
            </div>
        </div>
        <div class="detail-cont">
            <div class="detail-top">
                <div class="wrap">
                    <div class="detail-info">
                        <dl>
                            <dt>CLIENT</dt>
                            <dd>한국교육개발원</dd>
                        </dl>
                        <dl>
                            <dt>DATE</dt>
                            <dd>2020.07~현재</dd>
                        </dl>
                        <dl>
                            <dt>TYPE</dt>
                            <dd>SI</dd>
                        </dl>
                        <div class="detail-about">
                            <h3>2022년 디지털 교육시스템 유지관리 및 기능개선 사업</h3>
                            <p class="explain">
                                한국교육개발원에서 운영중인 사업중 하나로 전·입학으로 인해 필수 이수 과목을 이수하지 못한 학생이나 교원 수급 문제 등으로 학교에서 개설하지 못한 선택 과목에 대한
                                학습권 보장을 위해 운영하는 시스템인 온라인 보충과정을 유지관리/기능개선 하기 위한 프로젝트입니다.
                            </p>
                            <div class="btn-wrap">
                                <a href="https://onlineschool.or.kr/gate.do" target="_blank" title="새창열림" class="btn">사이트 바로가기</a>
                            </div>
                            <div class="top-view">
                                <img src="/img/work/detail-online.png" alt="온라인 보충과정 미리보기">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-view gray">
                <div class="wrap">
                    <img src="/img/work/detail-online01.png" class="shadow" alt="온라인 보충과정 디자인">
                </div>
            </div>
            <div class="detail-view on-theme">
                <div class="wrap">
                    <img src="/img/work/detail-online02.png" class="shadow" alt="온라인 보충과정 모바일 디자인">
                </div>
            </div>
        </div>
    </section>

</html>