<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/work.html}">

    <!-- container -->
    <section layout:fragment="container">
        <div class="detail-visual pay">
            <div class="wrap">
                <h2 class="project-name">
                    <span class="brand-txt">삼성전자</span>
                    삼성페이 부가서비스<br>운영개발
                </h2>
            </div>
        </div>
        <div class="detail-cont">
            <div class="detail-top">
                <div class="wrap">
                    <div class="detail-info">
                        <dl>
                            <dt>CLIENT</dt>
                            <dd>삼성전자</dd>
                        </dl>
                        <dl>
                            <dt>DATE</dt>
                            <dd>2017.01~현재</dd>
                        </dl>
                        <dl>
                            <dt>TYPE</dt>
                            <dd>SI</dd>
                        </dl>
                        <div class="detail-about">
                            <h3>삼성페이 부가서비스 운영개발</h3>
                            <p class="explain">
                                삼성전자가 세계최초로 MST와 NFC 를 동시에 지원하는 온/오프라인 핀테크 결제 플랫폼인 삼성페이 서비스를 운영/유지관리하는 사업입니다.
                                삼성페이 대고객 서비스 시작과 함께 본 사업에 참여해 약 6년 가까이 참여중에 있으며, 현재는 삼성페이 UI.UX 사업을 지원하는 유일한 운영 팀입니다.
                                삼성페이 모바일 결제 서비스를 중심으로한 다양한 연계수익사업 및 내부 관리 시스템등 약 5개 이상의 서비스를 통합 유지관리하는 사업입니다.
                            </p>
                            <div class="btn-wrap">
                                <a href="https://www.samsung.com/sec/samsung-pay/home/" target="_blank" title="새창열림" class="btn">사이트 바로가기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-view gray">
                <div class="wrap">
                    <div class="text-view">
                        <dl>
                            <dt>구축사례</dt>
                            <dd>2020년 01월 ~ 삼성페이 홈페이지 운영 업무 지원</dd>
                        </dl>
                        <dl>
                            <dt>도입배경</dt>
                            <dd>삼성전자에서 제공하는 삼성페이 홈페이지 컨텐츠 업데이트에 따른디자인/ 퍼블리싱 업무 지원</dd>
                        </dl>
                        <dl>
                            <dt>구축내용</dt>
                            <dd>
                                <ul>
                                    <li>- 디자인 업무 지원</li>
                                    <li>- 퍼블리싱 업무 지원</li>
                                    <li>- 삼성페이 운영지원</li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>도입효과</dt>
                            <dd>디자인/ 퍼블리싱 업무 지원에 따른 삼성페이 홈페이지의 안정적 운영</dd>
                        </dl>
                        <dl>
                            <dt>개발 Type</dt>
                            <dd>Web/SM</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- script -->
    <script layout:fragment="script" th:inline="javascript" type="text/javascript">
        $(function () {
            var chg_color = $(".detail-visual").position().top;
            var btn_value = $(".btn-back").position().top + 20;
            var chg_value = $(".detail-visual").outerHeight() - btn_value;

            console.log( chg_value);
            $(window).scroll(function(){
                if ($(window).scrollTop() >= (chg_color + chg_value)) {
                    $('.btn-back').removeClass('wht');
                }
                else {
                    $('.btn-back').addClass('wht');
                }
            });
        });
    </script>
    <!-- //script -->

</html>