<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/work.html}">

    <!-- container -->
    <section layout:fragment="container">
        <div class="detail-visual s4u">
            <div class="wrap">
                <h2 class="project-name">
                    <span class="brand-txt">스쿨포유(중,고)_한국교육개발원</span>
                    2022년 디지털 교육시스템<br>유지관리 및 기능개선 사업
                </h2>
            </div>
        </div>
        <div class="detail-cont">
            <div class="detail-top">
                <div class="wrap">
                    <div class="detail-info">
                        <dl>
                            <dt>CLIENT</dt>
                            <dd>한국교육개발원</dd>
                        </dl>
                        <dl>
                            <dt>DATE</dt>
                            <dd>2020.07~현재</dd>
                        </dl>
                        <dl>
                            <dt>TYPE</dt>
                            <dd>SI</dd>
                        </dl>
                        <div class="detail-about">
                            <h3>2022년 디지털 교육시스템 유지관리 및 기능개선 사업</h3>
                            <p class="explain">
                                건강장애를 지닌 특수교육대상자와 장기결석학생들이 언제어디서나 편리하게 학습할 수 있도록 정규교육과정 기반의 원격수업을 통해 편리하게
                                학습할 수 있도록 돕는 온라인 수업 프로그램인 스쿨포유 시스템을 유지관리 / 기능개선 하기 위한 프로젝트입니다.
                            </p>
                            <div class="btn-wrap">
                                <a href="https://www.s4u.kr/" target="_blank" title="새창열림" class="btn">사이트 바로가기</a>
                            </div>
                            <div class="top-view">
                                <img src="/img/work/detail-s4u.png" alt="스쿨포유 미리보기">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-view gray">
                <div class="wrap">
                    <img src="/img/work/detail-s4u01.png" class="shadow" alt="스쿨포유 디자인">
                </div>
            </div>
            <div class="detail-view s4u-theme">
                <div class="wrap">
                    <img src="/img/work/detail-s4u02.png" class="shadow" alt="스쿨포유 모바일 디자인">
                </div>
            </div>
        </div>
    </section>

</html>