<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main.html}">

    <!-- header -->
    <section layout:fragment="header" id="header">
        <header>
            <div class="top-area sc-chk">
                <h1 class="logo"><a href="#top"><span class="hidden-txt">RENOSOFT</span></a></h1>
                <div class="gnb">
                    <ul>
                        <li><a href="#about" class="mv_scroll">ABOUT</a></li>
                        <li><a href="#work" class="mv_scroll">WORK</a></li>
                        <li><a href="#contact" class="mv_scroll">CONTACT</a></li>
                    </ul>
                </div>
                <div class="m-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </header>
    </section>
    <!-- //header -->

    <!-- container -->
    <section layout:fragment="container" id="container" class="main">
        <div class="main-visual active">
            <video id="background-video" loop="loop" muted="muted" autoplay="autoplay" playsinline>
                <source src="/img/main_video.mp4" type="video/mp4">
            </video>
            <div class="title-box">
                <h2 class="main-tit animated slideInDown">
                    <span class="block">
                        <em class="wht">Re</em>volution
                    </span>
                    <em class="wht mid">+</em> In<em class="wht">no</em>vation
                </h2>
                <p class="main-tit-sub slow-animated shotFadeInLeft">고객 감동 변화의 시작, 레노소프트</p>
                <p class="main-sub slow-animated ShotfadeInRight">
                    다양한 Biz-Domain에 대한 풍부한 경험으로<br>
                    체계적이고 효과적인 프로세스, 새로운 관점의 Innovative Idea를 제시합니다.
                </p>

            </div>

            <div class="scroll-box">
                <span class="sc-icon"></span>
                scroll
            </div>
        </div>
        <div id="about" class="about sc-chk">
            <div class="sub-sec01">
                <div class="wrap">
                    <h3 class="sec-tit slow-animated shotFadeInUp">About<span class="dot"></span></h3>
                    <p class="tit-sub  slow-animated shotFadeInLeft">레노소프트 기술은 따뜻한 사람들로부터 시작됩니다.</p>
                    <div class="about-box">
                        <div class="about-list">
                            <div class="thumb ui"></div>
                            <p>UI / UX Development</p>
                            <div class="over">
                                <h4 class="over-tit">UI/UX 개발</h4>
                                <p class="over-txt">UI/UX 전문가들이 고객사 시스템 화면을 멋지게 만들어 드립니다. </p>
                            </div>
                        </div>
                        <div class="about-list">
                            <div class="thumb sv"></div>
                            <p>Service Consulting</p>
                            <div class="over">
                                <h4 class="over-tit">서비스 컨설팅</h4>
                                <p class="over-txt">고객사 시스템 및 인프라환경에 대한 에 대한 컨설팅을 수행합니다.</p>
                            </div>
                        </div>
                        <div class="about-list">
                            <div class="thumb tech"></div>
                            <p>Technical Architecture</p>
                            <div class="over">
                                <h4 class="over-tit">분석 및 설계</h4>
                                <p class="over-txt">현재 운영중인 시스템에 대한 구조분석 및 설계를 진행합니다.</p>
                            </div>
                        </div>
                        <div class="about-list">
                            <div class="thumb mobile"></div>
                            <p>Mobile And Display UX/UI</p>
                            <div class="over">
                                <h4 class="over-tit">모바일 UI/UX</h4>
                                <p class="over-txt">Ios, Android 시스템의 UI/UX 디자인을 설계 및 구현합니다.</p>
                            </div>
                        </div>
                        <div class="about-list">
                            <div class="thumb fe"></div>
                            <p>Front-End Development</p>
                            <div class="over">
                                <h4 class="over-tit">개발</h4>
                                <p class="over-txt">Back-End 를 비롯한 사용자단 화면을 개발합니다.</p>
                            </div>
                        </div>
                        <div class="about-list">
                            <div class="thumb base"></div>
                            <p>
                                Solution Based
                                <small>(B2C, B2B and Big-Data, Cloud)</small>
                            </p>
                            <div class="over">
                                <h4 class="over-tit">솔루션</h4>
                                <p class="over-txt">이커머스, 이러닝, 빅데이터 등 솔루션기반의 업무를 수행합니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-sec02">
                <div class="wrap">
                    <h3 class="sec-tit kr slow-animated fadeInUp">고객의 일상을 바꾸고 가치로 인정받는 No.1 디지털 솔루션 기업<span class="dot"></span></h3>
                    <div class="biz-box">
                        <div class="card">
                            <div class="front">
                                <h4 class="biz-tit">UI/UX</h4>
                                <div class="icon">
                                    <img src="/img/card_ui.svg" alt="">
                                </div>
                            </div>
                            <div class="back">
                                <h4 class="biz-tit">UI/UX</h4>
                                <div class="biz-txt">
                                    <ul>
                                        <li>웹/모바일 시스템 개발</li>
                                        <li>UX/UI 방향 제안</li>
                                        <li>기획 / 디자인 / 퍼블</li>
                                        <li>Cloud</li>
                                        <li>운영 및 품질관리</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="front">
                                <h4 class="biz-tit">banking</h4>
                                <div class="icon">
                                    <img src="/img/card_bank.svg" alt="">
                                </div>
                            </div>
                            <div class="back">
                                <h4 class="biz-tit">banking</h4>
                                <div class="biz-txt">
                                    <ul>
                                        <li>국민,우리,신한 은행
                                            TMS 솔루션 개발</li>
                                        <li>Big Data기반 구축 사업 개발</li>
                                        <li>개발 품질관리</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="front">
                                <h4 class="biz-tit">e- learning</h4>
                                <div class="icon">
                                    <img src="/img/card_lean.svg" alt="">
                                </div>
                            </div>
                            <div class="back">
                                <h4 class="biz-tit">e- learning</h4>
                                <div class="biz-txt">
                                    <ul>
                                        <li>교원 등 국내 유명 이러닝 솔루션 개발</li>
                                        <li>AI LMS , LCMS , CDMS</li>
                                        <li>교육영상 전용 플레이어</li>
                                        <li>멀티디바이스 지원</li>
                                        <li>플레이어 통계 제공</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="front">
                                <h4 class="biz-tit slow-animated fadeInUp">e- commerce</h4>
                                <div class="icon">
                                    <img src="/img/card_commerce.svg" alt="">
                                </div>
                            </div>
                            <div class="back">
                                <h4 class="biz-tit">e- commerce</h4>
                                <div class="biz-txt">
                                    <ul>
                                        <li>쇼핑 / 여행  등  다양한
                                            분야 솔루션 개발  및 운영</li>
                                        <li>간편  정산 솔루션  제공</li>
                                        <li>편리한  사용자 경험  제공</li>
                                        <li>개인 정보  블록체인 기반
                                            암호화 처리</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-sec03">
                <div class="wrap">
                    <h3 class="sec-tit kr slow-animated fadeInUp">안정성 높은 자체 솔루션 보유<span class="dot"></span></h3>
                    <div class="solution-box">
                        <div class="solution-list">
                            <p>
                                <span>RS 1st Blended Learning</span>
                                비대면 학습 관리 시스템
                            </p>
                        </div>
                        <div class="solution-list reno"><span class="hidden-txt">RENOSOFT</span></div>
                        <div class="solution-list">
                            <p>
                                <span>RS 1st Blended e- Commerce</span>
                                온라인 쇼핑 관리 시스템
                            </p>
                        </div>
                    </div>
                </div>
                <div class="marquee">
                    <div class="reno-txt">고객의 변화를 함께하여 혁신을 추구합니다. <span class="m-dp">고객의 변화를 함께하여 혁신을 추구합니다. 고객의 변화를 함께하여 혁신을 추구합니다. 고객의 변화를 함께하여 혁신을 추구합니다.</span></div>
                </div>
            </div>
            <div class="sub-sec04">
                <div class="wrap">
                    <h3 class="sec-tit wht slow-animated fadeInUp">Client<span class="dot"></span></h3>
                    <div class="client-box">
                        <ul>
                            <li>
                                <img src="/img/hana.png" alt="하나은행">
                            </li>
                            <li>
                                <img src="/img/hanhwa.png" alt="한화">
                            </li>
                            <li>
                                <img src="/img/camko.png" alt="캠코 한국자산관리공사">
                            </li>
                            <li>
                                <img src="/img/kbcard.png" alt="kb국민카드">
                            </li>
                            <li>
                                <img src="/img/kbs.png" alt="KBS">
                            </li>
                            <li>
                                <img src="/img/kedi.png" alt="한국교육개발원">
                            </li>
                            <li>
                                <img src="/img/ksd.png" alt="KSD 한국예탹결제원">
                            </li>
                            <li>
                                <img src="/img/kyowon.png" alt="교원">
                            </li>
                            <li>
                                <img src="/img/lg.png" alt="lg전자">
                            </li>
                            <li>
                                <img src="/img/line.png" alt="LINE">
                            </li>
                            <li>
                                <img src="/img/lottecard.png" alt="LOTTE CARD">
                            </li>
                            <li>
                                <img src="/img/npcc.png" alt="사행산업통합감독위원회">
                            </li>
                            <li>
                                <img src="/img/samsung.png" alt="삼성">
                            </li>
                            <li>
                                <img src="/img/tmoney.png" alt="티머니">
                            </li>
                            <li>
                                <img src="/img/woori.png" alt="우리은행">
                            </li>
                            <li>
                                <img src="/img/hyundai.png" alt="현대자동차">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div id="work" class="work">
            <div class="wrap sc-chk">
                <h3 class="sec-tit slow-animated fadeInUp">Work<span class="dot"></span></h3>
            </div>
            <div class="work-wrap slider">
                <ul class="work-contain">
                    <li class="work-list">
                        <a href="/work/hyundai">
                            <div class="thumb">
                                <img src="/img/work/work_hyundai.png" alt="HYUNDAI">
                            </div>
                            <p>
                                현대자동차<br>
                                HMG Privacy센터 고도화 프로젝트
                            </p>
                        </a>
                    </li>
                    <li class="work-list">
                        <a href="/work/eschool">
                            <div class="thumb">
                                <img src="/img/work/work_eschool.png" alt="e-school for student athletes">
                            </div>
                            <p>
                                학생선수(중,고)_한국교육개발원
                                디지털 교육시스템 유지관리 및
                                기능개선 사업
                            </p>
                        </a>
                    </li>
                    <li class="work-list">
                        <a href="/work/s4u">
                            <div class="thumb">
                                <img src="/img/work/work_s4u.png" alt="school for you 스쿨포유">
                            </div>
                            <p>
                                스쿨포유(중,고)_한국교육개발원
                                디지털 교육시스템 유지관리 및
                                기능개선 사업
                            </p>
                        </a>
                    </li>
                    <li class="work-list">
                        <a href="/work/online">
                            <div class="thumb">
                                <img src="/img/work/work_online.png" alt="온라인 수업 online high school">
                            </div>
                            <p>
                                온라인 보충과정 한국교육개발원
                                디지털 교육시스템 유지관리 및
                                기능개선 사업
                            </p>
                        </a>
                    </li>
                    <li class="work-list">
                        <a href="/work/ondot">
                            <div class="thumb">
                                <img src="/img/work/work_ondot.png" alt="교실온닷">
                            </div>
                            <p>
                                교실온닷_한국교육개발원
                                디지털 교육시스템 유지관리 및
                                기능개선 사업
                            </p>
                        </a>
                    </li>
                    <li class="work-list">
                        <a href="/work/dream">
                            <div class="thumb">
                                <img src="/img/work/work_dream.png" alt="꿈이음">
                            </div>
                            <p>
                                꿈이음_한국교육개발원
                                디지털 교육시스템 유지관리 및
                                기능개선 사업
                            </p>
                        </a>
                    </li>
                    <li class="work-list">
                        <a href="/work/hub">
                            <div class="thumb">
                                <img src="/img/work/work_hub4u.png" alt="탈북청소년교육지원센터">
                            </div>
                            <p>
                                탈북청소년 교육지원센터
                                탈북청소년교육지원센터 홈페이지
                                개편
                            </p>
                        </a>
                    </li>
                    <li class="work-list">
                        <a href="/work/hcc">
                            <div class="thumb">
                                <img src="/img/work/work_hcc.png" alt="HCC hybrid commerce channel">
                            </div>
                            <p>
                                라쿠카라차 쇼핑몰
                                B2B, B2C 쇼핑몰 구축
                            </p>
                        </a>
                    </li>
                    <li class="work-list">
                        <a href="/work/pay">
                            <div class="thumb">
                                <img src="/img/work/work_samsungpay.png" alt="samsung pay">
                            </div>
                            <p>
                                삼성페이<br>
                                부가서비스 운영개발
                            </p>
                        </a>
                    </li>
                    <li class="work-list">
                        <a href="/work/lottecard">
                            <div class="thumb">
                                <img src="/img/work/work_lottecard.png" alt="lottecard">
                            </div>
                            <p>
                                롯데카드<br>
                                트랜드탭 개발
                            </p>
                        </a>
                    </li>
                    <li class="work-list">
                        <a href="/work/ican">
                            <div class="thumb">
                                <img src="/img/work/work_ai.png" alt="AI CANDO">
                            </div>
                            <p>
                                교원<br>
                                아이캔두 마이쌤 화상관리 개발
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="contact" class="contact">
            <div class="wrap sc-chk">
                <h3 class="sec-tit md slow-animated shotFadeInUp">
                    레노소프트만의 <b>높은 목표와 맞춤 컨설팅</b>으로<br>
                    프로젝트의 성공을 약속합니다.
                </h3>
                <div class="form-box">
                    <form action="">
                        <div class="form-row">
                            <div class="form-col">
                                <label for="company">회사명</label>
                                <input type="text" id="company" class="ip-text" readonly>
                            </div>
                            <div class="form-col">
                                <label for="manager">담당자명</label>
                                <input type="text" id="manager" class="ip-text" readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-col">
                                <label for="tel">연락처</label>
                                <input type="text" id="tel" class="ip-text" readonly>
                            </div>
                            <div class="form-col">
                                <label for="email">이메일</label>
                                <input type="text" id="email" class="ip-text" readonly>
                            </div>
                        </div>
                        <div class="input-box">
                            <textarea name="" id="" cols="30" rows="10" readonly></textarea>
                        </div>
                        <div class="btn-wrap">
                            <!-- a href="mailto:renosoft@renosoft.kr" class="btn">상담신청</a -->
                            <button class="btn" onclick="location.href='mailto:renosoft@renosoft.kr';">상담신청</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="location">
            <div class="wrap sc-chk">
                <h3 class="sec-tit slow-animated shotFadeInUp">Location<span class="dot"></span></h3>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1884.3497206672073!2d127.09589660120298!3d37.411445666907795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca7d52994f731%3A0x6689debf16f85785!2z6rK96riw6riw7JeF7ISx7J6l7IS87YSw!5e0!3m2!1sko!2skr!4v1660198707061!5m2!1sko!2skr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="wrap map">
                <div class="company-info">
                    <ul>
                        <li>
                            <em>프로젝트의뢰</em>
                            <p>renosoft@renosoft.kr</p>
                        </li>
                        <li>
                            <em>연락처 / 팩스</em>
                            <p>031-751-4234 / 031-751-4235</p>
                        </li>
                        <li>
                            <em>오시는 길</em>
                            <p>
                                경기도 성남시 수정구 창업로 42 (제2판교테크노밸리)
                                경기기업성장센터 615호.
                                <small>
                                    신분당선 – 판교역 2번출구 → 육교 건너편 도보3분
                                    → 55번/370번/누리2번 버스 → 제2판교테크노밸리 경기기업성장센터
                                </small>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- //container -->

    <!-- footer -->
    <section layout:fragment="footer" id="footer">
        <footer>
            <div class="foot-menu">
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <p class="copy">© Copyright RENOSOFT. All Rights Reserved.</p>
            </div>
            <div class="btn-top">
                <a href="#top">
                    <span class="top-arrow"></span>
                    TOP
                </a>
            </div>
        </footer>
    </section>
    <!-- //footer -->

    <!-- script -->
    <script layout:fragment="script" th:inline="javascript" type="text/javascript">
        $(function () {
            let aboutSlide = $(".about").slick({
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                speed: 500,
                fade: true,
                arrows: true,
                dots: true,
                autoplay: false,
                dotsClass: "slide-dots",
                draggable: true,
                responsive: [
                    {
                        breakpoint: 992,
                        settings: {
                            arrows : false,
                            adaptiveHeight: true
                        }
                    }
                ]
            });

            $(".about").on('beforeChange', function(event, slick, currentSlide, nextSlide){
                if (nextSlide == 3){
                    $('.slide-dots').addClass('wht');
                } else {
                    $('.slide-dots').removeClass('wht');
                }
            });

            let myDots = $('.about .slick-dots > li', aboutSlide);
            aboutSlide.on('beforeChange', function(event, slick, currentSlide, nextSlide) {

                // remove dot past classes on dots after next slide dot
                $(myDots[nextSlide]).nextAll().removeClass('past');

                // add dot past classes on dots before next slide dot
                $(myDots[nextSlide]).prevAll().addClass('past');

            });

            $('.work-contain').on('init', function (event, slick) {
                $(this).append('<div class="slick-counter"><div><div class="progressbar"><span></span></div></div></div>');
                var $slider = $('.slider');
                var $progressBar = $('.progressbar');
                var $progressBarLabel = $('.progressbar span');


                $progressBar.css('background-size', 100 * (1 / slick.slideCount) + '% 100%');

                $slider.on('beforeChange', function (event, slick, currentSlide, nextSlide) {
                    // var calc = ( (nextSlide) / (slick.slideCount-1) ) * 100;
                    var calc = Number((nextSlide + 1) / slick.slideCount * 100);

                    $progressBar.css('background-size', calc + '% 100%').attr('aria-valuenow', calc);

                    $progressBarLabel.text(calc + '% completed');
                });
            })
            $('.work-contain').slick({
                variableWidth: true,
                autoplay: false,
                infinite: true,
                arrows: true,
                dots: false,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 2,
                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            arrows : false,
                        }
                    }
                ]
            });
        });
    </script>
    <!-- //script -->
</html>